@import "tailwindcss";


.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    /* Dark background */
    color: white;
    font-family: Arial, sans-serif;
}

.loading-screen .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #000000;
    /* Light grey */
    border-top: 5px solid #ffc82f;
    /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}