@import "tailwindcss";


.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    /* Dark background */
    color: white;
    font-family: Arial, sans-serif;
}

.loading-screen .spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #000000;
    /* Light grey */
    border-top: 5px solid #ffc82f;
    /* Blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 15px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-border {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 360% 50%;
    }
}

.animate-animated-border {
    background-size: 400% 400%;
    animation: spin-border 6s linear infinite;
}

@keyframes spreadGold {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.3;
    }

    100% {
        transform: scale(0);
        opacity: 0.8;
    }
}

@keyframes spreadRed {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.3;
    }

    100% {
        transform: scale(0);
        opacity: 0.8;
    }
}

@keyframes spreadPurple {
    0% {
        transform: scale(0);
        opacity: 0.8;
    }

    50% {
        transform: scale(1.5);
        opacity: 0.3;
    }

    100% {
        transform: scale(0);
        opacity: 0.8;
    }
}

@keyframes moveCyanBar {
    0% {
        transform: translateY(100%);
        opacity: 0.2;
    }

    50% {
        opacity: 0.6;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0.2;
    }
}